<style>
  p{
    font-family: Fredericka the Great, sans-serif;
    font-size: 110%;
    color: white;
  }
</style>
<p id="notice"><%= notice %></p>
<div style="padding: 10%">
<p>
  <img src = "<%= @project.image %>">
</p>
  <p align="justify">
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p align="justify">
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p align="justify">
  <strong>Github Url:</strong>
  <a href = "<%= @project.link %>"> View on Github </a>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>